APP_NAME=WAdmin
APP_ENV=dev
APP_DEBUG=false

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=wadmin
DB_USERNAME=root
DB_PASSWORD=12345678!
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=127.0.0.1
REDIS_AUTH=
REDIS_PORT=6379
REDIS_DB=0

APP_URL=http://127.0.0.1:9501

JWT_SECRET=PGI0IEr7KdP0CqgjGdkm93lhUGujsjuAIuXUovly3dg=

MINE_ACCESS_TOKEN=(null)
