.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
.phpintel/
.env
.DS_Store
.phpunit*
*.cache
.vscode/
tests/cover
tests/coverage.xml
tests/coverage
tests/coding_standard.xml
tests/junit.xml
public
!public/install.html
!web/public
*.lock
doc/
docs/
storage/swagger/http.json
storage/uploadsinstall.lock
